/* CSS Document */

/************************TAG SELECTORS**********************/
a {
    color: darkslateblue;
}

a:hover {
    color: purple;
}

body {
    margin: 0;
    background-color: rgb(233, 233, 233);
}

div {
    display: inline-block;
    position: relative;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(118, 187, 211);
    border-width: 10px;
    width: 20%;
}

h1, h2 {
    color: rgb(35, 35, 163);
    font-family: 'Merriweather', serif;
}

h3 {
    color: rgb(35, 35, 163);
    font-family: 'Oxygen', sans-serif;
}

p {
    font-family: 'Oxygen', sans-serif;
}

/************************CLASS SELECTORS**********************/

.circular {
    border-radius: 100%;
}

.roundedBorder {
    border-radius: 10%;
}

.introTable {
    border: none;
    padding: 5;
    row-gap: 5;
    border-collapse: collapse;
}

.introTable td {
    padding: 10px;
}

.skillsTable {
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    padding: 5px;
}

.skillsTable td {
    border: 1px dashed black;
    padding: 5px;
}

/************************ID SELECTORS**********************/

#heading {
    background: red;
}