/* CSS Document */

.introTable {
    border: none;
    padding: 5;
    row-gap: 5;
    border-collapse: collapse;
}
.introTable td {
    padding: 10px;
}
.skillsTable {
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    padding: 5px;
}
.skillsTable td {
    border: 1px dashed black;
    padding: 5px;
}
